<!DOCTYPE html>

<html>
    <head>
        <title>Chat Window</title>
        <style>
        </style>
    </head>

    <body>
        <!-- Headind -->
        <h1 style="font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 30px;
            text-align: center;
            
            color: #00204A;"> 
        
        Please say Mr.diode
        
        </h1>
        <!-- <img src="bot_face.png"> -->

        
        <div>

            <!-- Image Block -->
            <svg width="850" height="550" id="svg1" style="border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); box-sizing: border-box;">
                
            </svg>
            <!--  -->

            <!-- Text Block -->
            <svg width="450" height="550" id="svg2" style="background-color: #ffffff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <!-- <image href="/mnt/d/Ubuntu/Diode/greetingBotVoiceSystem/templates/bot_face.png" x="175" height="75" width="75"></image> -->

                <style>
                    .way{
                        font: italic 13px sans-serif;
                        font-size: 25px;
                        text-align: center;
                    }
                </style>
                <text x="40" y="250" class="way">  </text>

            </svg>
            <!--  -->

        </div>
    </body>
</html>