@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body{
    margin: 0px;
}

.top{
    font-family: 'Roboto Mono';
    font-style: normal;
    color: #00204A;
    text-align: center;
    font-size: 5vh;
    /* padding: 15px 0px 0px 15px; */
    line-height: 50px;
    height: 8.5vh;
    /* border: 1px solid #000000; */
    /* top: 5px; */
}
.parent{
    min-width: 800px;
    padding: 15px;
}
.Qrbox{
    float: left;
    width: 28%;
    height: 85vh;
    left: 10px;
    
    /* box-sizing: border-box;
    background: #00BBF0; */
    /* border: 1px solid #000000; */
    /* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25); */
}

.QR{
    position: relative;
    /* float: left; */
    width: 100%;
    height: 50vh;
    /* left: 10px; */
    
    box-sizing: border-box;
    background: #00BBF0;
    /* border: 1px solid #000000; */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.Chatbox{
    float: right;
    width: 70%;
    height: 85vh;

    box-sizing: border-box;
    background: #D9FAFF;
    /* border: 1px solid #000000; */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.Imagediv{
    /* position: relative; */
    display: flex;
    /* flex: auto; */
    justify-content: center;
    width: 100%;
    height: 34%;
    /* left: 36%; */
    /* border: 1px solid #000000; */
    /* align-items: center; */
}
.botface{
    position: relative;
    width: 26vh;
    height: 26vh;
    top: 3vh;
}
.chatText{
    /* border: 1px solid #000000; */
    width: 100%;
    height: 66%;
    /* padding: 5px; */
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 350;
    text-align: center;
    font-size: 5vh;
}


/* styling for timer */

.counter{
position: relative;
/* float: left; */
width: 100%;
height: 35vh;
/* left: 10px; */

/* box-sizing: border-box;
background: #00BBF0; */
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
/* border: 1px solid #000000; */
/* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25); */
}

.counttext{
    position: relative;
    display: flex;
    /* border: 1px solid #000000; */
    height: 5vh;
}

.block {
/* border: 1px solid #000000; */
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 180px;
height: 180px;
border-radius: 50%;
top: 1vh;
}

.box {
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: calc(100% - 50px);
height: calc(100% - 50px);
border-radius: 50%;
background-color: #005792;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);;
}

.box::before {
position: absolute;
content: '';
width: calc(100% + 28px);
height: calc(100% + 28px);
border-radius: 50%;
border: 1px solid #ffffff;
}

.box .number span {
color: #e9e9e9;
}

.box .number .num {
font-size: 35px;
font-weight: bold;
}

.box .number .sub {
font-size: 20px;
}

.box .title {
font-size: 15px;
color: #981111;
}

.dots {
display: block;
position: absolute;
z-index: 2;
width: 100%;
height: 100%;
border-radius: 50%;
transition: 2s transform, 2s opacity ease;
}

.dots::after {
position: absolute;
content: '';
width: 10px;
height: 10px;
top: 5px;
left: 50%;
border-radius: 50%;
background-color: #000000;
box-shadow: 0 0 5px 2px #584559;
transform: translateX(-50%);
}

.svg {
position: absolute;
width: 100%;
height: 100%;
fill: none;
transform: rotate(-90deg);
}

.circle {
stroke: #005792;
stroke-width: 4px;
stroke-dasharray: 503;
stroke-dashoffset: 503;
animation-duration: 2s;
animation-timing-function: linear;
animation-fill-mode: forwards;
transition: 2s stroke-dashoffset;
/* animation: animationCircle 1s linear forwards; */
}